@media (max-width: 992px) {
  .memory-card {
    display: flex;
    flex-direction: column;
  }
  .memory {
    width: 100%;
  }
}

@media (max-width: 770px) {
  section {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  .memory-container {
    order: 1;
    height: 300px;
    overflow-y: unset;
  }
  .memory-form {
      margin-top: 290px;
    width: 100%;
  }
}

@media (max-width: 500px) {
    .memory-container{
        width: 100%;
    }
  }
